.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateX(10px);
  opacity: 0;
}


.fade-enter-active {
  transition: all .5s ease-out;
}
.fade-leave-active {
  transition: opacity .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .slide-fade-leave-active {
  opacity: 0;
}



.list-enter-active {
  transition: all .4s ease;
}
.list-leave-active {
  transition: all .3s ease-out;
}

.list-enter, .list-leave-active {
  opacity: 0;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
}

.fade-appear {
  opacity: 0;
  //animation-name: example;
  //animation-duration: 2s;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-out;

}

//@keyframes example {
//  0%   {
//    opacity: 0;
//  }
//  50% {
//    opacity: .5;
//  }
//  100% {
//    opacity: 1;
//  }
//}
